{% extends 'base.html' %}{% load static %} {% load sass_tags %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'assets2/scss/vendors/select2.scss' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'assets2/scss/vendors/date-picker.scss' %}"
/>
{% endblock css %} {% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  {% include 'tasks/components/task.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %} {% block scriptcontent %}
<script src="{% static 'assets2/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets2/js/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{% static 'assets2/js/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'assets2/js/datepicker/date-picker/datepicker.custom.js' %}"></script>
<script src="{% static 'assets2/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets2/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets2/js/form-validation-custom.js' %}"></script>
<script src="{% static 'assets2/js/task/custom.js' %}"></script>

{% endblock scriptcontent %}
