{% extends 'base.html' %}{% load static %} {% load sass_tags %} {% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets2/scss/vendors/animate.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets2/scss/vendors/chartist.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets2/scss/vendors/photoswipe.scss' %}" />
<!-- Plugins css Ends-->
{% endblock css %} {% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid crypto-dash">
    <div class="row">

      {% include 'general/dashboard/crypto/components/crypto-top.html' %} 
      {% include 'general/dashboard/crypto/components/crypto-middle.html' %} 
      {% include 'general/dashboard/crypto/components/crypto-bottom.html' %}
    
    </div>
    <!-- Container-fluid Ends-->
  </div>
</div>
{% endblock content %} {% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets2/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets2/js/chart/chartjs/chart.min.js' %}"></script>
<script src="{% static 'assets2/js/chart/chartist/chartist.js' %}"></script>
<script src="{% static 'assets2/js/chart/chartist/chartist-plugin-tooltip.js' %}"></script>
<script src="{% static 'assets2/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets2/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets2/js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets2/js/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets2/js/counter/counter-custom.js' %}"></script>
<script src="{% static 'assets2/js/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'assets2/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'assets2/js/photoswipe/photoswipe.js' %}"></script>
<script src="{% static 'assets2/js/dashboard/crypto-dashboard.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}