{% extends 'base.html' %}{% load static %} {% load sass_tags %} {% block css %}
<!-- Plugins css start-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'assets2/scss/vendors/scrollbar.scss' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'assets2/scss/vendors/tree.scss' %}"
/>
<!-- Plugins css Ends-->
{% endblock css %} {% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Basic Tree</h5>
          </div>
          <div class="card-body">
            <div id="treeBasic">
              <ul>
                <li>
                  Admin
                  <ul>
                    <li data-jstree='{"opened":true}'>
                      assets2
                      <ul>
                        <li data-jstree='{"opened":false}'>
                          Css
                          <ul>
                            <li data-jstree='{"selected":false,"type":"file"}'>
                              Css one
                            </li>
                            <li data-jstree='{"type":"file"}'>Css two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Js
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>
                              Js one
                            </li>
                            <li data-jstree='{"type":"file"}'>Js two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Scss
                          <ul>
                            <li data-jstree='{"opened":false}'>
                              Sub Child
                              <ul>
                                <li
                                  data-jstree='{"selected":false,"type":"file"}'
                                >
                                  Sub File
                                </li>
                                <li data-jstree='{"type":"file"}'>Sub File</li>
                              </ul>
                            </li>
                            <li data-jstree='{"type":"file"}'>Scss two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>
                      Default
                      <ul>
                        <li data-jstree='{"type":"file"}'>Dashboard</li>
                        <li data-jstree='{"type":"file"}'>Typography</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>index file</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Checkbox Tree</h5>
          </div>
          <div class="card-body">
            <div id="treecheckbox">
              <ul>
                <li>
                  Admin
                  <ul>
                    <li data-jstree='{"opened":true}'>
                      assets2
                      <ul>
                        <li data-jstree='{"opened":false}'>
                          Css
                          <ul>
                            <li data-jstree='{"selected":false,"type":"file"}'>
                              Css one
                            </li>
                            <li data-jstree='{"type":"file"}'>Css two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Js
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>
                              Js one
                            </li>
                            <li data-jstree='{"type":"file"}'>Js two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Scss
                          <ul>
                            <li data-jstree='{"opened":false}'>
                              Sub Child
                              <ul>
                                <li
                                  data-jstree='{"selected":false,"type":"file"}'
                                >
                                  Sub File
                                </li>
                                <li data-jstree='{"type":"file"}'>Sub File</li>
                              </ul>
                            </li>
                            <li data-jstree='{"type":"file"}'>Scss two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>
                      Default
                      <ul>
                        <li data-jstree='{"type":"file"}'>Dashboard</li>
                        <li data-jstree='{"type":"file"}'>Typography</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>index file</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Drag Tree</h5>
          </div>
          <div class="card-body">
            <div id="dragTree">
              <ul>
                <li>
                  Admin
                  <ul>
                    <li data-jstree='{"opened":true}'>
                      assets2
                      <ul>
                        <li data-jstree='{"opened":false}'>
                          Css
                          <ul>
                            <li data-jstree='{"selected":false,"type":"file"}'>
                              Css one
                            </li>
                            <li data-jstree='{"type":"file"}'>Css two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Js
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>
                              Js one
                            </li>
                            <li data-jstree='{"type":"file"}'>Js two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Scss
                          <ul>
                            <li data-jstree='{"opened":false}'>
                              Sub Child
                              <ul>
                                <li
                                  data-jstree='{"selected":false,"type":"file"}'
                                >
                                  Sub File
                                </li>
                                <li data-jstree='{"type":"file"}'>Sub File</li>
                              </ul>
                            </li>
                            <li data-jstree='{"type":"file"}'>Scss two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>
                      Default
                      <ul>
                        <li data-jstree='{"type":"file"}'>Dashboard</li>
                        <li data-jstree='{"type":"file"}'>Typography</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>index file</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Contextmenu Tree</h5>
          </div>
          <div class="card-body">
            <div id="contextmenu">
              <ul>
                <li>
                  Admin
                  <ul>
                    <li data-jstree='{"opened":true}'>
                      assets2
                      <ul>
                        <li data-jstree='{"opened":false}'>
                          Css
                          <ul>
                            <li data-jstree='{"selected":false,"type":"file"}'>
                              Css one
                            </li>
                            <li data-jstree='{"type":"file"}'>Css two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Js
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>
                              Js one
                            </li>
                            <li data-jstree='{"type":"file"}'>Js two</li>
                          </ul>
                        </li>
                        <li data-jstree='{"opened":true}'>
                          Scss
                          <ul>
                            <li data-jstree='{"opened":false}'>
                              Sub Child
                              <ul>
                                <li
                                  data-jstree='{"selected":false,"type":"file"}'
                                >
                                  Sub File
                                </li>
                                <li data-jstree='{"type":"file"}'>Sub File</li>
                              </ul>
                            </li>
                            <li data-jstree='{"type":"file"}'>Scss two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>
                      Default
                      <ul>
                        <li data-jstree='{"type":"file"}'>Dashboard</li>
                        <li data-jstree='{"type":"file"}'>Typography</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>index file</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %} {% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets2/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets2/js/tree/jstree.min.js' %}"></script>
<script src="{% static 'assets2/js/tree/tree.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}
